html, body {
    overflow: auto;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#77A9BB, #5594AA);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: auto;
}

table {
    color: black;
    width: 100%;
    height: auto;
    margin:1em auto;
    font-size: x-large;
    background: white;
    box-shadow: 0 5px 15px rgb(0, 65, 102);
}

tbody, td, tfoot, th, thead, tr {
    border-color: rgb(190, 190, 190);
}

td {
    /* height: 0.5em;
    width: 2em; */
    padding: 10px;
    text-align: center;
    border-right: 0.5px solid rgb(190, 190, 190);
    border-bottom: 0.5px solid rgb(190, 190, 190);
}

td:first-child {
    border-left: solid black;
}

td:nth-child(3n) {
    border-right: solid black;
}

tr:first-child {
    border-top: solid black;
}

tr:nth-child(3n) td {
    border-bottom: solid black;
}

.btn-outline-secondary {
    color: rgb(224, 224, 224);
}

.btn-outline-success {
    color: rgb(236, 255, 236);
}

.btn-outline-info {
    color: rgb(182, 213, 223);
}

.btn-outline-info:hover {
    color: rgb(255, 255, 255);
}

.btn-outline-danger {
    color: rgb(255, 227, 227);
}

.main .btn-group {
    margin: 10px auto;
}

.TopContainer {
    margin-bottom: 50px;
    overflow: hidden;
}

.main {
    overflow: hidden;
}

#GameDescription a {
    color: rgb(255, 255, 255);
}

.modal {
    color: black;
    overflow: hidden;
}